.el-datetime:hover .el-input-icon {
  color: @d_primary;
}

.el-datetime-picker {
  display: none;
  z-index: 1000;
  margin-top: 1px;
  background: #fff;
  padding: 5px 8px;
  position: absolute;
  border: 1px solid @border;
  box-shadow: 0 1px 3px @shadow;
  -webkit-box-shadow: 0 1px 3px @shadow;
  table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    thead {
      th {
        height: 30px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        span {
          width: 100%;
          height: 30px;
          line-height: 30px;
          display: inline-block;
        }
      }
    }
    td {
      cursor: pointer;
      text-align: center;
      &.el-datetime-day {
        width: 32px;
        height: 32px;
        cursor: pointer;
        text-align: center;
      }
      &.el-datetime-month,
      &.el-datetime-year {
        width: 60px;
        height: 50px;
        cursor: pointer;
        text-align: center;
      }
      &.el-datetime-week-number {
        width: 32px;
        height: 32px;
        color: @midText;
        cursor: pointer;
        text-align: center;
      }
      &.el-datetime-today {
        position: relative;
        &:after {
          right: 4px;
          bottom: 4px;
          content: " ";
          position: absolute;
          display: inline-block;
          border-left: 7px solid transparent;
          border-bottom: 7px solid rgba(255, 255, 255, .8);
          border-top-color: @shadow;
        }
      }
      &.el-datetime-old,
      &.el-datetime-new {
        color: @lightText;
      }

      &.el-datetime-disabled {
        color: @lightText;
        cursor: not-allowed;
        background-color: @l_disabled;
      }
      &.el-datetime-active:not(.el-datetime-disabled) {
        color: #fff;
        background-color: @primary;
      }
      &:not(.el-datetime-disabled):not(.el-datetime-today):not(.el-datetime-active):not(.el-datetime-week-number):hover,
      &.el-datetime-day:not(.el-datetime-disabled):not(.el-datetime-today):not(.el-datetime-active):hover,
      &.el-datetime-hour:hover,
      &.el-datetime-minute:hover,
      &.el-datetime-second:hover,
      &.el-datetime-timetoggle:hover {
        background: @l_primary;
      }
    }
  }
  .el-datetime-days, .el-datetime-weeks {
    width: 250px;
    thead {
      tr {
        th {
          width: 29px;
        }
        &:last-of-type {
          th {
            padding: 5px;
            cursor: default;
          }
        }
      }
    }
  }
  .el-datetime-months, .el-datetime-years {
    width: 250px;
    thead {
      tr {
        th {
          width: 60px;
          &:nth-child(2) {
            width: 200px;
          }
        }
      }
    }
  }
  .el-datetime-shortcuts {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 94px;
    padding: 5px 8px;
    background-color: @l_success;
    a {
      color: @midText;
      display: block;
      padding: 5px 0;
    }
    & + .el-datetime-days {
      margin-left: 110px;
    }
  }
  .el-datetime-weeks-panel {
    tbody tr:hover {
      background: @l_primary;
    }
  }
}

.el-datetime-open {
  .el-datetime-picker {
    display: block;

  }
}

.el-datetime-timetoggle {
  height: 28px;
  text-align: center;
}

.el-datetime-days {
  padding: 4px;
}

.el-datetime-counters {
  display: inline-block;
  > div {
    float: left;
  }
  .el-datetime-counter {
    width: 40px;
    height: 100px;
    .el-datetime-btn {
      height: 40%;
      display: block;
      cursor: pointer;
      line-height: 40px;
      user-select: none;
      color: @primary;
    }
    .el-datetime-count {
      height: 20%;
      font-size: 1.2em;
    }
  }
  .el-datetime-counter-separator,
  .el-datetime-milli {
    line-height: 100px;
  }
}