.el-transfer {
  .el-transfer-panel {
    overflow: hidden;
    background: #fff;
    width: 15.3846rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.3077rem;
    border: 1px solid @border;
    .el-transfer-panel-header {
      margin: 0;
      height: 3.0769rem;
      color: @normalText;
      font-size: 1.15384rem;
      line-height: 3.0769rem;
      padding-left: 2.1538rem;
      border-bottom: 1px solid @border;
      span:last-child {
        float: right;
        color: @midText;
        font-size: 0.6rem;
        padding-right: 1rem;
      }
    }
    .el-input {
      display: block;
      margin: 0.7692rem 0.7692rem 0;
    }
    .el-transfer-check-group {
      &.el-checkbox-group {
        padding-bottom: 0;
      }
      .el-check-all {
        top: 0;
        position: absolute;
        .el-checkbox-wrapper {
          > span:last-child {
            display: none;
          }
        }
      }
      .el-checkbox-row {
        height: 14rem;
        overflow: auto;
        .el-checkbox-wrapper {
          display: block;
          .el-checkbox {
            width: 1rem;
            font-size: 1.2308rem;
            margin-right: 0.846rem;
          }
        }
      }
    }
    .el-transfer-no-data {
      width: 6rem;
      left: 50%;
      position: absolute;
      margin-left: -3rem;
      margin-top: 1rem;
      text-align: center;
      font-size: 1rem;
      color: @disabled;
    }
  }
}

.el-transfer-buttons {
  padding: 0 20px;
  display: inline-block;
  vertical-align: middle;
  .el-transfer-button {
    height: 25px;
    display: block;
    min-width: 35px;
    line-height: 25px;
    &.el-transfer-button:first-child {
      margin-bottom: 10px;
    }
  }
}